a{
  text-decoration: none;  
}
a{
  color: red;  
}
a:hover{
  cursor:pointer
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  background-color:rgba(1, 1, 1, 0.8);
  color: #fff;
  height: 10vh;
  width: 96vw;
  position: absolute;
  top: 0;
  right: 0;

}
.header .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}
.header .menu .menu__item{
  list-style: none;
  margin-right: 20px;}
.header .menu .menu__item:last-child{
  margin-right: 0;
}